<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unanswered | NYP AI Q&A Server</title>
    <style>
        body {
            text-align: center;
            margin-top: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Unanswered</h1>
    <a href="answered"><p>View Answered</p></a>
    <br>
    <div id="questionsDiv">
        <p>No unanswered questions at the moment.</p>
    </div>
</body>
</html>