<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthorised | NYP AI Q&A Server</title>
    <style>
        body {
            text-align: center;
            margin-top: 100px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    </style>
</head>
<body>
    <img src="/assets/NYPAILogo" height="150px">
    <h1>Action Unauthorised</h1>
    <p>You have attempted to conduct an unauthorised operation. Please try again.</p>
    <br>
    <script src="/assets/copyright"></script>
</body>
</html>